/* Variables */
$app-background-color: grey;
$primary-brand-color: hsl(346, 85%, 44%);
$primary-nav-color: hsl(0, 0%, 60%);
$tab-color: hsl(0, 0%, 70%);
$workspace-color: hsl(0, 0%, 75%);
$topoItem-color: hsla(0, 0%, 100%, 0.6);
$nav-section-text-color: hsl(0, 0%, 30%);

$button-color: hsl(0, 0%, 60%);


$app-min-width : 800px;
$app-min-height : 300px;

$home-height: 40px;
$tools-height: 40px;
$secondary-nav-height: 35px;

$default-font-family: Helvetica, Arial, Sans-Serif;

$default-padding: 15px;

$pattern-pitch: 8px;
$pattern-line-color: lighten($workspace-color, 3%);


/* Reset */
* {	
	margin: 0;
	padding: 0;
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: $default-font-family;
	cursor: default;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	box-sizing: border-box;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

/* Patterns */
.pattern {
	background-image: linear-gradient($pattern-line-color 1px, transparent 1px),
						linear-gradient(90deg, $pattern-line-color 1px, transparent 1px);
	background-size: $pattern-pitch $pattern-pitch, $pattern-pitch $pattern-pitch;
	background-position: 0 0, 0 0;
	background-repeat: repeat;
}

/* Mixins */
@mixin flexbox {
  display: flex;
}

@mixin columnar-flexbox {
  flex-direction: column;
}

@mixin flex-grow {
  flex-grow: 1;
}

@mixin flex-align($location){
	align-items: $location;
}

@mixin subtext {
	font-size: 85%;
	opacity: 0.6;
}

@mixin fill-container {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

@mixin text-ellipsis {
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Layout */
.ui-module {
	@include fill-container;
}

#IOConsole {
	@include flexbox;
	background-color: $app-background-color;
	min-width: $app-min-width;
	min-height: $app-min-height;
	width: 100vw;
	height: 100vh;
}

#navigation {
	@include flexbox;
	@include columnar-flexbox;
	background-color: $primary-nav-color;
	min-width: 200px;
	max-width: 300px;
	flex: 1;
}

#workspace {
	top:0;
	bottom:0;
	left:0;
	right:0;
	position: absolute;
	overflow: scroll;
}

#header {
	position: absolute;
	top:0;
	left:0;
	right:0;
	z-index: 10;
	height: $tools-height;
}

#main {
	flex: 4;
	position: relative;
	background-color: $workspace-color;
	box-shadow: 0 0 40px 0 hsla(0, 0%, 0%, 0.2), 0 0 4px 0 hsla(0, 0%, 0%, 0.2);
}

.secondaryNav {
	height: $secondary-nav-height;
}

/* Element styling */


.componentInProgress {
	position: absolute;
	z-index: 1000;
	padding: 7px;
	background-color: darken($topoItem-color, 10%);
	outline: 1px dashed darken($topoItem-color, 50%);
	font-size: 12px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
		.componentName {
			text-align: center;
			line-height: 1;
		}
		.componentVersion {
			@include subtext;
		}
}

.workspace {
	.component {
		padding: 7px;
		position: absolute;
		background-color: $topoItem-color;
		outline: 1px solid darken($topoItem-color, 40%);
		font-size: 12px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		.componentName {
			text-align: center;
			line-height: 1;
		}
		.componentVersion {
			@include subtext;
		}
	}

	.component.pendingDeletion {
		background-color: darken($topoItem-color, 10%);
		outline: 1px dashed darken($topoItem-color, 50%);
	}

	svg, text {
		pointer-events: none;
		font-size: 10px;
		fill: grey;
		text-anchor: middle;
		position: absolute;
	}

	polygon {
		pointer-events: fill
	}

	.hostInterface {
		position: absolute;
		background-color: hsla(0, 0%, 55%, 0.8);
		outline: 1px solid hsla(0, 0%, 0%, 0.35);
		font-size: 11px;
		display: flex;
		align-items: center;
		justify-content: center;
		color: hsla(0, 0%, 0%, 0.8);
	}

	.interface {
		position: absolute;
		border: 1px solid red;
	}

	.attachmentInterface {
		position: absolute;
		border: 1px solid hsla(0, 0%, 0%, 0.1);
	}

	.discreet {
		opacity: 0.2;
	}

	.wireContainer {
		position: absolute;
		top:0;
		bottom:0;
		left:0;
		right:0;
	}
}

.selected {
	background-color: hsla(0, 0%, 100%, 0.5);
}

.version {
	@include subtext;
	margin: 0 8px 0 5px;
}



#navigation {
	.app-actions {
		background-image: url("../img/hamburger.svg");
		background-size: 12px;
		margin-right: 4px

	}
	.add, .app-actions {
		display: block;
		vertical-align: center;
		height: 24px;
		width: 26px;
		font-size: 16px;
		color: hsla(0, 0%, 100%, 0.7);
		background-color: transparent;
	}
	.add:hover, .app-actions:hover {
		background-color: hsla(0, 0%, 100%, 0.2);
	}
}

.home {
	border-bottom: 1px solid darken($primary-brand-color, 6%);
	background-color: $primary-brand-color;
	padding: 0 8px 0 $default-padding;
	@include flexbox;
	flex: 0 0 $home-height;
	@include flex-align(center);


	h1 {
		color: white;
		font-size: 10px;
		@include flex-grow;
	}

	.logo {
		height: 14px;
		width: 14px;
		margin-right: 6px;
	}
}

.primaryNav {
	@include flex-grow;
	overflow: hidden;
	display: flex;
	flex-direction: column;

	h1 {
		color: $nav-section-text-color;
		font-size: 11.5px;
		@include flex-grow;
		margin-bottom: 6px;
		display: flex;
		align-items: center;
		height: 15px;
	}



	section {
		padding: 6px 8px 8px $default-padding;
	}
}



.projects {
	border-bottom: 1px solid hsl(0, 0%, 53%);
	flex: 0 0 auto;
	box-sizing: content-box;

	.add {
		display: none;
	}

	.project {
		padding: 2px 8px;
		margin-left: -8px;

		h2 {
			display: flex;
			font-size: 13px;
			align-items: baseline;
		}

		.version {
			flex: 1;
		}

		.name {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}

	.project:not(.selected):hover {
		background-color: hsla(0, 0%, 100%, 0.1);
		cursor: pointer;
		* {
			cursor: pointer;
		}
	}
}

.ioModules.scrolled {
	box-shadow: inset 0px 10px 10px -10px hsla(0, 0%, 0%, 0.25);
}

.ioModules {
	flex: 1 1 auto;
	overflow-y: scroll;
	

		h2 {
			display: flex;
			font-size: 11px;
			align-items: baseline;
			text-transform: capitalize;
			font-style: italic;
			color: hsl(0, 0%,40%);
			margin-top: 1px
		}

		h3 {
			font-size: 13px;
			display: flex;
			align-items: baseline;
		}

		.version {
			flex: 1;
		}

		.name {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		.moduleItem {
			padding: 5px 15px 7px 15px;
			margin-left: 0;
			//margin-right: 6px
		}

		.moduleItem:hover {
			background-color: hsla(0, 0%, 100%, 0.1);
			cursor: grab;
			* {
				cursor: grab;
			}
		}

		.moduleDescription {
			font-size: 70%;
			//padding: 2px 20px 0 16px;
			//margin-bottom: 4px;
			color: hsl(0, 0%, 38%)
		}

		.categorySection {
			border-bottom: 1px dotted grey;
			padding: 1px 0 4px 0;
			margin-right: 8px;
		}
}


.tools {
	display: flex;
	align-items: baseline;
	height: $tools-height;
	font-size: 13px;
	padding: 7px 15px;
	background-color: hsla(0, 0%, 65%, 0.65);
	border-bottom: 1px solid hsla(0, 0%, 60%, 0.7);
	@include text-ellipsis;

	span {
		flex-shrink: 0;
	}

	button {
		padding: 1px 8px;
		min-width: 20px;
		margin: 2px;
		background-color: lighten($button-color, 2%);
		border: 1px solid darken($button-color, 2%);
		border-radius: 2px;
		white-space: nowrap;
		font-size: 10px;
		color: hsl(0, 0%, 30%);
		@include text-ellipsis;

		&:hover {
			background-color: lighten($button-color, 3%);
			border: 1px solid lighten($button-color, 0%);
		}
	}
	
	.buttons {
		flex-grow: 1;
		display: flex;
		justify-content: flex-start;
		font-size: 11.5px;

		button {
			padding: 3px 12px;
			min-width: 50px;
			margin: 3px;
			margin-left: 25px;
			background-color: $button-color;
			border: 1px solid darken($button-color, 5%);
			border-radius: 3px;
			color: hsl(0, 0%, 10%);
			white-space: nowrap;

			&:hover {
				background-color: lighten($button-color, 3%);
			}
		}
	}
}

